<ion-header>
  <ion-toolbar>
    <ion-title>Calificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1> 1° AÑO - 2022 </h1>
  <style type="text/css">
    .tftable {font-family: 'Open Sans', sans-serif;font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #333333;border-collapse: collapse;}
    .tftable th {font-family: 'Open Sans', sans-serif;font-size:12px;background-color:#ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #333333;text-align:left;}
    .tftable tr {background-color:#ffffff;}
    .tftable td {font-family: 'Open Sans', sans-serif;font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #333333}
    .tftable tr:hover {background-color:#ffffff;}
    </style>
    
    <table class="tftable" border="1">
    <tr><th width="16.6%">Materias</th><th width="16.6%">Primer Bloque</th><th width="16.6%">Segundo Bloque</th><th width="16.6%">Tercer Bloque</th><th width="16.6%">Cuarto Bloque</th><th width="16.6%">Final</th></tr>
    <tr><td class="materia1">Marketing y la estratégia comercial</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Matemática estrategica</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Macroeconomía y Microeconomía</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Programación para marketers</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Mercado y producto</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Creatividad y estrategia de contenidos</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Medios</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Presentación efectiva </td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Trabajo in company</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Business English</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    </table>    
  <h1> 2° AÑO - 2023 </h1>
  <style type="text/css">
    .tftable {font-family: 'Open Sans', sans-serif;font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #333333;border-collapse: collapse;}
    .tftable th {font-family: 'Open Sans', sans-serif;font-size:12px;background-color:#ffffff;border-width: 1px;padding: 8px;border-style: solid;border-color: #333333;text-align:left;}
    .tftable tr {background-color:#ffffff;}
    .tftable td {font-family: 'Open Sans', sans-serif;font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #333333}
    .tftable tr:hover {background-color:#ffffff;}
    </style>
    
    <table class="tftable" border="1">
    <tr><th width="16.6%">Materias</th><th width="16.6%">Primer Bloque</th><th width="16.6%">Segundo Bloque</th><th width="16.6%">Tercer Bloque</th><th width="16.6%">Cuarto Bloque</th><th width="16.6%">Final</th></tr>
    <tr><td>Marketing y la estratégia comercial</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Ecommerce</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Inteligencia del negocio</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Legales</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Mercado y producto</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Creatividad y estrategia de contenidos</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Planificacion financiera</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Business English</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Trabajo in company</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    <tr><td>Trabajo Final</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td></tr>
    </table>
</ion-content>
