.persona{
    font-size: 45px;
    padding-right: 10px; }

ion-content{
--padding-start: 20px;
--padding-end: 20px;
}
app-calificaciones{
    main{
        padding-top: 0;
    }
}
h1{
    font-family: 'Open Sans', sans-serif
}
#promedio{
    .boton{
        text-align: center;    
     ion-icon{
        font-size: 100px;
    } 
}
}