<ion-header>
  <ion-toolbar>
    <ion-title>Horario</ion-title>
    <ion-buttons slot="end"> <ion-icon name="person-circle" class="persona"> </ion-icon> </ion-buttons> 
    <ion-buttons slot="start"> <ion-back-button defaultHref="tabs/tab1" text=""></ion-back-button> </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" [routerLink]="['/tabs/tab1/horario/modulo1']"> Módulo 1</ion-button>
  <ion-button expand="block" [routerLink]="['/tabs/tab1/horario']"> Módulo 2</ion-button>
  <ion-button expand="block" [routerLink]="['/tabs/tab1/horario']"> Módulo 3</ion-button>
  <ion-button expand="block" [routerLink]="['/tabs/tab1/horario']"> Módulo 4</ion-button>
  <ion-button expand="block" [routerLink]="['/tabs/tab1/horario']"> Módulo 5</ion-button>
</ion-content>
