<ion-header>
  <ion-toolbar>
    <ion-title>Materias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button expand="block">Marketing y la estrategia comercial</ion-button>
<ion-button expand="block">Matemática estratégica</ion-button>
<ion-button expand="block">Macroeconomía y Microeconomía</ion-button>
<ion-button expand="block">Programación</ion-button>
<ion-button expand="block">Mercado y producto</ion-button>
<ion-button expand="block">Creatividad</ion-button>
<ion-button expand="block">Medios</ion-button>
<ion-button expand="block">Presentación efectiva</ion-button>
<ion-button expand="block">Trabajo in company</ion-button>
<ion-button expand="block">Business English</ion-button>
</ion-content>

