<ion-header>
  <ion-toolbar>
    <ion-title>Materias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button class="Materia1" expand="block" [routerLink]="['detalle']" >Marketing y la estrategia comercial</ion-button>
<ion-button class="Materia2" expand="block" [routerLink]="['detalle']">Matemática estratégica</ion-button>
<ion-button class="Materia3" expand="block" [routerLink]="['detalle']">Macroeconomía y Microeconomía</ion-button>
<ion-button class="Materia4" expand="block" [routerLink]="['detalle']">Programación para marketers</ion-button>
<ion-button class="Materia5" expand="block" [routerLink]="['detalle']">Mercado y producto</ion-button>
<ion-button class="Materia6" expand="block" [routerLink]="['detalle']">Creatividad y esrategia de contenidos</ion-button>
<ion-button class="Materia7" expand="block" [routerLink]="['detalle']">Medios</ion-button>
<ion-button class="Materia8" expand="block" [routerLink]="['detalle']">Presentación efectiva</ion-button>
<ion-button class="Materia9" expand="block" [routerLink]="['detalle']">Trabajo in company</ion-button>
<ion-button class="Materia9" expand="block" [routerLink]="['detalle']">Business English</ion-button>
</ion-content>

