<ion-header>
  <ion-toolbar>
    <ion-title>Materias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button expand="block" [routerLink]="['detalle']" >Marketing y la estrategia comercial</ion-button>
<ion-button expand="block" [routerLink]="['detalle']">Matemática estratégica</ion-button>
<ion-button expand="block" [routerLink]="['detalle']">Macroeconomía y Microeconomía</ion-button>
<ion-button expand="block" [routerLink]="['detalle']">Programación</ion-button>
<ion-button expand="block" [routerLink]="['detalle']">Mercado y producto</ion-button>
<ion-button expand="block" [routerLink]="['detalle']">Creatividad</ion-button>
<ion-button expand="block" [routerLink]="['detalle']">Medios</ion-button>
<ion-button expand="block" [routerLink]="['detalle']">Presentación efectiva</ion-button>
<ion-button expand="block" [routerLink]="['detalle']">Trabajo in company</ion-button>
<ion-button expand="block" [routerLink]="['detalle']">Business English</ion-button>
</ion-content>

