app-tab4{
ion-content ion-toolbar {
  --background: translucent;
}
h1 {
  text-align: left;
  margin: 15px;
  font-size: 20px;
}
.persona{
  font-size: 45px;
  padding-right: 10px;
}
h2 {
  text-align: center;
  margin: 10px;
  font-size: 35px;
  font-weight: bold;
}
h3{
  text-align: center; 
  font-size: 15px;
}
table{
  text-align: center;
  font-size: 15px;
  width: 100%;
}
p {
  margin: 15px;
  font-size: 15px;
  color: gray;
  text-align: left;
}

td span {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
}

.nuevatarea {
  background: rgb(137, 186, 114);
}
.comienzofin {
  background: rgb(148, 233, 241);
}
.evaluaciones {
  background: rgb(165, 122, 205);
}

.nuevatareaicono {
  color: rgb(137, 186, 114);
  font-size: 25px;
  margin-bottom: -5px;
}

.evaluacionesicono {
  color: rgb(165, 122, 205);
  font-size: 25px;
  margin-bottom: -5px;
}

.comienzofinicono {
  color: rgb(148, 233, 241);
  font-size: 25px;
  margin-bottom: -5px;
}

.hoy {
  background: gainsboro;
  border-radius: 12%;
}
}
