app-login {
    h1 { 
     color: black;
     margin: 80px 30px;
     font-weight: bold;
    }
    form h3 { 
        font-size: 25px;
        margin: 20px;
       }
       
       ion-button{ 
        --background: rgb(33, 28, 174);
        margin: 20px;
       }
    
}