<ion-header>
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
    <ion-buttons slot="end"> <ion-icon name="person-circle" class="persona"> </ion-icon> </ion-buttons> 
    <ion-buttons slot="start"> <ion-back-button text=" " defaultHref="/tabs/tab1"></ion-back-button> </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="estasemana">
    <h1> Esta semana </h1>
    <h2>
      <span>.</span>  Nicolas Ferreyra ha subido una nueva tarea a Programacion 
    </h2>
    <h2>
      <span>.</span>  Agostina Cabrera ha comentado en una tarea de Business English
    </h2>
    <h2>
      <span>.</span>  Tarea 15 de Creatividad y estrategia de contenidos está a punto de vencer! 
    </h2>
  </div>
  <div id="lasemanapasada">
    <h1>La semana pasada</h1>
    <h2>
      <span>.</span>  Matias Pellegrino ha califiado una tarea en Trabajo in company
    </h2>
    <h2>
      <span>.</span>  Italo Draffa ha subido una nueva tarea a Presentación efectiva
    </h2>
    <h2>
      <span>.</span>  Malena De Martino ha comentado en una tarea de Mercado y producto
    </h2>
  </div>
  <div id="elmespasado">
    <h1>El mes pasado</h1>
    <h2>
      <span>.</span>  Juana Weiss comentado en una tarea de Medios
    </h2>
    <h2>
      <span>.</span>   Facundo Blanco ha subido una nueva tarea a Medios 
    </h2>
    <h2>
      <span>.</span>   Tarea 6 de Marketing y la estrategia comercial está a punto de vencer! 
    </h2>
    <h2>
      <span>.</span>   Tarea 14 de Creatividad y estrategia de contenidos está a punto de vencer! 
    </h2>
    <h2>
      <span>.</span>   Tarea 8 de Matemática estrategia está a punto de vencer! 
    </h2>
  </div>
</ion-content>
