
.cajaclases1{
    margin: 12%;
    margin-top: 10%;
    width: 74%;
    height: 50%;
}

.lineaclase1{
    margin-top: 5%;
}

.linea{
    border: 1px solid #ffd000;
    height: 7px;
    background-color: #ffd000;
    margin-bottom: 4%;
}

.evaluacion{
    width: 100%;
    background-color: rgb(245, 218, 96);
    padding-right: 15px;
    padding-left: 5px;
    align-items: center;
    height: 45px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    color: rgb(66, 65, 65);
    margin-bottom: 7%;
    margin-top: 10px
}