<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button defaultHref="tabs/tab1/materias/detalle" text=" "></ion-back-button> </ion-buttons><ion-title>CLASES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cajaclases1">
    <div>
        <div>Clase 4</div>
        <div class="linea"></div>
        <div>Archivo</div>
    </div>

    <div class="lineaclase1">
      <div>Clase 3</div>
      <div class="linea"></div>
      <div>Archivo</div>
    </div>

    <div class="evaluacion">
      Evaluación 18.10
    </div>

    <div class="lineaclase1">
      <div>Clase 2</div>
      <div class="linea"></div>
      <div>Archivo</div>
    </div>

    <div class="evaluacion">
      Trabajo práctico 12.07
    </div>

    <div class="lineaclase1">
      <div>Clase 1</div>
      <div class="linea"></div>
      <div>Archivo</div>
    </div>
  </div>
</ion-content>
