<ion-header>
  <ion-toolbar>
    <h1>
      CALENDARIO
    </h1>
    <ion-buttons slot="start"> <ion-back-button text=""></ion-back-button> </ion-buttons> 
    <ion-buttons slot="end"> <ion-icon name="person-circle" class="persona"> </ion-icon> </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>AGOSTO 2022</h2>
  <table>
    <tr><th width="25%">LUN</th><th>MAR</th><th>MIE</th><th>JUE</th><th>VIE</th></tr>
    <tr><td><span>8 </span></td><td><span>9</span></td><td><span class="nuevatarea">10 </span></td><td><span>11</span></td><td><span>12</span></td></tr>
    <br>
    <tr><td><span>9:00 - 10:00 </span></td><td colspan="4" class="celdagris"><span></span></td></tr>
    <br>
    <tr><td><span>10:00 - 11:00 </span></td><td colspan="4" class="celdagris"><span></span></td></tr>
    <br>
    <tr><td><span>11:00 - 12:00  </span></td><td colspan="4" class="celdaverde"><span></span> TP Creatividad</td></tr>
    <br>
    <tr><td><span>12:00 - 13:00 </span></td><td colspan="4" class="celdagris"><span></span></td></tr>
    <br>
    <tr><td><span>14:30 - 15:00 </span></td><td colspan="4" class="celdagris"><span></span></td></tr>
    <br>
    <tr><td><span>15:00 - 16:00 </span></td><td colspan="4" class="celdagris"><span></span></td></tr>
    <br>
    <tr><td><span>16:00 - 17:00  </span></td><td colspan="4" class="celdagris"><span></span></td></tr>
    <br>
    <tr><td><span>17:00 - 16:00  </span></td><td colspan="4" class="celdagris"><span></span></td></tr>
    </table> 
</ion-content>
