<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button defaultHref="tabs/tab1/horario" text=""></ion-back-button> </ion-buttons> 
    <ion-buttons slot="end"> <ion-icon name="person-circle" class="persona"> </ion-icon> </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <h1>MÓDULO 1</h1>
  <h2>1 de Marzo - 2 de Abril</h2>
  <table border="1">
    <tr><th width="18%"></th><th width="16.4%">LUN <br> 1</th><th width="16.4%">MAR <br> 2</th><th width="16.4%">MIE <br> 3</th><th width="16.4%">JUE <br> 4</th><th width="16.4%">VIE<br> 5</th></tr>
    <tr><td >9:00 - 10:00 </td><td class="materia9">Trabajo in Company</td><td class="materia6">Creatividad</td><td class="materia10">Business English</td><td class="materia4">Programación</td><td class="materia6">Creatividad</td></tr>
    <tr><td>10:00 - 11:00 </td><td class="materia9">Trabajo in Company</td><td class="materia6">Creatividad</td><td class="materia10">Business English</td><td class="materia4">Programación</td><td class="materia6">Creatividad</td></tr>
    <tr><td>11:00 - 12:00 </td><td class="materia9">Trabajo in Company</td><td class="vacio"></td><td class="vacio"></td><td class="materia10">Business English</td><td class="materia4">Programación</td></tr>
    <tr><td>12:00 - 13:00 </td><td class="materia9">Trabajo in Company</td><td class="vacio"></td><td class="vacio"></td><td class="materia10">Business English</td><td class="materia4">Programación</td></tr>
    <br>
    <tr><td>14:30 - 15:00 </td><td class="materia9">Trabajo in Company</td><td class="materia7">Medios</td><td class="materia5">Mercado y Producto</td><td class="materia2">Matemática</td><td class="materia7">Medios</td></tr>
    <tr><td>15:00 - 16:00 </td><td class="materia9">Trabajo in Company</td><td class="materia7">Medios</td><td class="materia5">Mercado y Producto</td><td class="materia2">Matemática</td><td class="materia7">Medios</td></tr>
    <tr><td>16:00 - 17:00 </td><td class="materia9">Trabajo in Company</td><td class="materia7">Medios</td><td class="materia5">Mercado y Producto</td><td class="materia2">Matemática</td><td class="materia7">Medios</td></tr>
    <tr><td>17:00 - 18:00</td><td class="materia9">Trabajo in Company</td><td class="materia7">Medios</td><td class="materia5">Mercado y Producto</td><td class="materia2">Matemática</td><td class="materia7">Medios</td></tr>
    </table> 
    <br>
    <table border="1">
      <tr><th width="18%"></th><th width="16.4%">LUN <br> 8</th><th width="16.4%">MAR <br> 9</th><th width="16.4%">MIE <br> 10</th><th width="16.4%">JUE <br> 11</th><th width="16.4%">VIE<br> 12</th></tr>
      <tr><td >9:00 - 10:00 </td><td class="materia9">Trabajo in Company</td><td class="materia6">Creatividad</td><td class="materia10">Business English</td><td class="materia4">Programación</td><td class="materia6">Creatividad</td></tr>
      <tr><td>10:00 - 11:00 </td><td class="materia9">Trabajo in Company</td><td class="materia6">Creatividad</td><td class="materia10">Business English</td><td class="materia4">Programación</td><td class="materia6">Creatividad</td></tr>
      <tr><td>11:00 - 12:00 </td><td class="materia9">Trabajo in Company</td><td class="vacio"></td><td class="vacio"></td><td class="materia10">Business English</td><td class="materia4">Programación</td></tr>
      <tr><td>12:00 - 13:00 </td><td class="materia9">Trabajo in Company</td><td class="vacio"></td><td class="vacio"></td><td class="materia10">Business English</td><td class="materia4">Programación</td></tr>
      <br>
      <tr><td>14:30 - 15:00 </td><td class="materia9">Trabajo in Company</td><td class="materia7">Medios</td><td class="materia5">Mercado y Producto</td><td class="materia2">Matemática</td><td class="materia7">Medios</td></tr>
      <tr><td>15:00 - 16:00 </td><td class="materia9">Trabajo in Company</td><td class="materia7">Medios</td><td class="materia5">Mercado y Producto</td><td class="materia2">Matemática</td><td class="materia7">Medios</td></tr>
      <tr><td>16:00 - 17:00 </td><td class="materia9">Trabajo in Company</td><td class="materia7">Medios</td><td class="materia5">Mercado y Producto</td><td class="materia2">Matemática</td><td class="materia7">Medios</td></tr>
      <tr><td>17:00 - 18:00</td><td class="materia9">Trabajo in Company</td><td class="materia7">Medios</td><td class="materia5">Mercado y Producto</td><td class="materia2">Matemática</td><td class="materia7">Medios</td></tr>
      </table> 
</ion-content>
