ion-content ion-toolbar {
    --background: translucent;
  }
  
  ion-content {
    font-family: 'Open Sans', sans-serif;
  }

  .persona{
    font-size: 45px;
    padding-right: 10px;
  }

  .buscador{
    width: 90%;
    height: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    font-size: 10px;
  }

h1 {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-align: center;
    font-size: 15px;
    color: gray;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

table{
    margin: 15px;
    text-align: center;
    font-size: 10px;
    white-space: pre-line;
    border: white;
}

.vacio {
    background: gainsboro;
}