ion-content ion-toolbar {
    --background: translucent;
  }
  .persona{
    font-size: 45px;
    padding-right: 10px;
  }

  .buscador{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
table{
    text-align: center;
    font-size: 10px;
    white-space: pre-line;
}