<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button defaultHref="tabs/tab1/materias" text=" "></ion-back-button></ion-buttons><ion-title>PROGRAMACIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cajamateria1">
    <div class="lineascaja1">
      <div>
        Profesor
      </div>
      <div>
        Nicolas Ferreyra
      </div>
    </div>

    <div class="lineascaja1">
      <div>
        Proxima clase
      </div>
      <div>
        Martes 18 de octubre
      </div>
    </div>

    <div class="lineascaja1">
      <div>
        Asistencias
      </div>
      <div>
        100%
      </div>
    </div>

    <ion-button class="clases" expand="block" [routerLink]="['/tabs/tab1/materias/detalle/informacion']">Clases</ion-button>
  </div>

<div class="cajamateria2">
  <div>Notas</div>
  <div class="linea"></div>

  <div class="lineascaja2">
    <div>
      Módulo 1
    </div>
    <div>
      9
    </div>
  </div>
      
  <div class="lineascaja2">
    <div>
      Módulo 2
    </div>
    <div>
      9
    </div>
  </div>
      
  <div class="lineascaja2">
    <div>
      Módulo 3
    </div>
    <div>
      10
    </div>
  </div>

</div>

</ion-content> -->
