<!-- <ion-header>
  <ion-toolbar>
    <ion-title>MATERIA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cajamateria1">
    <div class="lineascaja1">
      <div>
        Profesor
      </div>
      <div>
        Nicolas Ferreyra
      </div>
    </div>

    <div class="lineascaja1">
      <div>
        Proxima clase
      </div>
      <div>
        Martes 18 de octubre
      </div>
    </div>

    <div class="lineascaja1">
      <div>
        Asistencias
      </div>
      <div>
        100%
      </div>
    </div>

    <ion-button class="clases" expand="block" [routerLink]="['detalle']">Clases</ion-button>
  </div>

<div class="cajamateria2">
  <div>Notas</div>
  <div class="lineanotas"></div>

  <div class="lineascaja2">
    <div>
      Módulo 1
    </div>
    <div>
      9
    </div>
  </div>
      
  <div class="lineascaja2">
    <div>
      Módulo 2
    </div>
    <div>
      9
    </div>
  </div>
      
  <div class="lineascaja2">
    <div>
      Módulo 3
    </div>
    <div>
      10
    </div>
  </div>

</div>

</ion-content> -->


<!-- ------------------------------- -->

<ion-header>
  <ion-toolbar>
    <ion-title>CLASES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cajaclases1">
    <div>
        <div>Clase 4</div>
        <div class="lineanotas"></div>
        <div>Archivo</div>
    </div>

    <div class="lineaclase1">
      <div>Clase 3</div>
      <div class="lineanotas"></div>
      <div>Archivo</div>
    </div>

    <div class="evaluacion">
      Evaluacion 18.10
    </div>

    <div class="lineaclase1">
      <div>Clase 2</div>
      <div class="lineanotas"></div>
      <div>Archivo</div>
    </div>

    <div class="evaluacion">
      Trabajo practico 12.07
    </div>

    <div class="lineaclase1">
      <div>Clase 1</div>
      <div class="lineanotas"></div>
      <div>Archivo</div>
    </div>
  </div>
</ion-content>