app-detalle{

.cajamateria1{
    margin: 12%;
    margin-top: 8%;
    width: 74%;
    height: 50%;
}

.lineascaja1{
    width: 100%;
    background-color: rgb(245, 218, 96);
    padding-right: 15px;
    padding-left: 5px;
    align-items: center;
    height: 45px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(66, 65, 65);
    margin-bottom: 7%;
}

.clases{
    margin: 0%;
    font-weight: bold;
    font-size: 16px;
}

.cajamateria2{
    margin: 12%;
    width: 74%;
    height: 50%;
}

.linea{
    border: 1px solid #ffd000;
    height: 7px;
    background-color: #ffd000;
    margin-bottom: 4%;
}

.lineascaja2{
    width: 100%;
    background-color: rgb(245, 218, 96);
    padding-right: 15px;
    padding-left: 5px;
    align-items: center;
    height: 45px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(66, 65, 65);
    margin-bottom: 7%;   
}
 
p{
    font-size: 14px;
}
}